.mars2 {
    position: absolute;
    top: 95%; 
    left: -2%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    animation: glow 3s infinite alternate;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    }
    100% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
    }
}
.mars_cards{
    overflow: hidden;
    right: 30px;
    position: absolute;
}
.arrow3{
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content_mars{
    color: rgb(250, 250, 250);
    padding: 20px 50px;
    position: absolute;
    margin-top: 100px;
    z-index: 5;
    left: 0px;
    top: -28px;
    right: 500px;
}

.content_marsmoons{
    color: rgb(250, 250, 250);
    padding: 20px 40px;
    position: absolute;
    margin-top: 100px;
    z-index: 5;
    left: 444px;
    top: 200px;
    right: 700px;
}